.container{
    /* position: absolute; */
    /* display: flex; */
    background-color:  #4ea8de ;
    height: 37rem; width: 750px;
    margin-left: 40rem;
    border-radius: 0px 0px 0px 20px;
    margin-top: 0px;
}

#img1{
position: absolute;
margin-top:10.25rem;
order: -2;
z-index: 1;
scale: 1.1;
}

#img2{
    position: absolute;
    scale: 0.8;
}

#img3{
    position: absolute;
    margin-top: 18rem;
    scale:0.8; 
    margin-left: 60px;
}

nav{
    display: flex;
    position: absolute;
}

#head{
    position: absolute;
    display: flex;
    margin-left: 20rem;
    margin-top: 7px;
    cursor: pointer;
    font-size: small;
    font-weight: bolder;
    list-style: none;
}

#profile{
    margin-top: 7px;  
    margin-left: 430px;
    cursor: pointer;
    font-size: small;
    font-weight: bolder;
    list-style: none;
}

h1#logo{
    color: #4ea8de;
    margin-top: 0px;
    scale: 0.6;
    margin-left: 10rem;
    position: absolute;
}

nav ul{
    position: absolute;
    width: 50px;
    list-style-type: none;
    margin-left: 70rem;
    cursor: pointer;
    font-size: small;
    font-weight: bolder;
    margin-top: 7px;
}

.box1{
    position: absolute;
    width: 50px;  
    cursor: pointer;
    font-size: small;
    font-weight: bolder;
    list-style: none;
    margin-left: 5rem;

}

.hero{
  position: absolute;
  margin-left: 11rem;
  margin-top: 13rem;
  scale: 0.9;
}

h2{
    margin-left: 70px;
    font-size:xx-large;
    scale: 1.9;
}

p{
    margin-left: 9px;
    margin-top: 60px;
    font-size: smaller;
    font-weight:bolder
}

button{
    margin-top: 20px;
    cursor: pointer;
    font-size: small;
    font-weight: bolder;
    background-color: #4ea8de;
    border-style: none;
    border-radius: 5px;
    width: 90px; height: 25px
}

.box:hover{
    transition: 0.3em; 
    cursor: pointer;
    scale: 1.1;
} 

.box1:hover{
    transition: 0.3em; 
    cursor: pointer;
    scale: 1.1;
} 